# Virtual Environment
.venv/

# Python Cache
__pycache__/
*.pyc
*.pyo

# Jupyter / Python temp
.ipynb_checkpoints/

# ML / TensorFlow Models
*.h5
model_collection/
weird model/
unkown/

# Datasets
datasets/

# VS Code
.vscode/

# OS junk
.DS_Store
Thumbs.db
